# Simulation data from model
data_sim/

# R project related items
.Rproj.user
.Rhistory

# API keys, logs
s3_keys/
aws_pem/
mturk_keys/
dropbox_token/
twitter_tokens/
api_logs/

# Python module items
**/__pycache__/
*-checkpoint.ipynb
