# Core packages
numpy
pandas
scipy
igraph
networkx
tweepy
boto3

# Packages for handling survey data (comment out if on ec2 linux instance)
xlwings
openpyxl
dropbox

# For analysis of tweets from news sources
nltk